<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>旅王出行管理后台</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <script>
    window.MODAL_WIDTH = 800;
  </script>
  <style>
    .footer-view {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  </style>
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
  <div class="footer-view"><a href="https://beian.miit.gov.cn/" target="_blank">闽ICP备19011160号-1</a></div>
</body>

</html>